<h1><u>Cart</u></h1>

<div class="container">
  <div *ngFor="let data of pData">
      <div class="row">
          <div class="col-md-3">
            <img src="{{data.pImage}}">
          </div>
          <div class="col-md-9">
            <div class="floatR">
              <p><b>Product Id:</b> {{data.p_id}}</p>
              <p><b>Quantity:</b> {{data.pQuantity}}</p>
              <p><b>Product Name:</b> {{data.pName}}</p>
              <p><b>Product Price:</b> {{data.pPrice}}</p>
            </div>
          </div>
      </div>
      <hr>
  </div>
  <div *ngIf="pData.length!=0">
    <button class="button" (click)="goOnline()">Buy Online</button>
    <button class="button" (click)="goToStore()" style="background-color:rgb(5, 168, 218)">Pick Up from Store</button>
  </div>
  <div *ngIf="pData.length==0">
      <h1>Cart Empty :(</h1>
  </div>
</div>